extends layout

block content
  h1= title

  form(id='BookForm', action="/resource/books", method="POST")
    div.form-group
        label.bookAttr(for='title') Book title
        input#title(type='text', name='title')
    div.form-group
        label.bookAttr(for='author') Book author
        input#author(type='text', name='author')
    div.form-group
        label.bookAttr(for='isbn') Book ISBN
        input#isbn(type='text', name='isbn')
    div.form-group
        label.bookAttr(for='pages') Book pages
        input#pages(type='number', name='pages')
    div.form-group
        label.bookAttr(for='price') Book price
        input#price(type='number', name='price', step='0.01')
    div.form-group
        label.bookAttr(for='genre') Book genre
        input#genre(type='text', name='genre')
    input(type="submit")

  script.
    document.forms['BookForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
