extends layout

block content
  h1= title

  - let bookid = toShow._id
  - let booktitle = toShow.title
  - let bookauthor = toShow.author
  - let bookisbn = toShow.isbn
  - let bookpages = toShow.pages
  - let bookprice = toShow.price
  - let bookgenre = toShow.genre
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{bookid}
  - let actionid = "/resource/books/" + bookid
  form(id='BookForm', action= actionid, method="PUT")
    div.form-group
        label.bookAttr(for='title') Book title
        input#title(type='text', name='title', value= booktitle )
    div.form-group
        label.bookAttr(for='author') Book author
        input#author(type='text', name='author', value= bookauthor )
    div.form-group
        label.bookAttr(for='isbn') Book ISBN
        input#isbn(type='text', name='isbn', value= bookisbn )
    div.form-group
        label.bookAttr(for='pages') Book pages
        input#pages(type='number', name='pages', value= bookpages )
    div.form-group
        label.bookAttr(for='price') Book price
        input#price(type='number', name='price', step='0.01', value= bookprice )
    div.form-group
        label.bookAttr(for='genre') Book genre
        input#genre(type='text', name='genre', value= bookgenre )
    input(type="submit")

  script.
    document.forms['BookForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
